.news-slider .slider-banner-col {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.news-slider #slider-container {
    max-width: 1250px;
    margin: auto;
}

.news-slider .flex-grow-1 {
    width: 100%;
}

.news-slider div.avatar {
    margin-right: auto;
    margin-left: auto;
}